// 红色系
$color-red-1 : #ffebee;
$color-red-2 : #ffcdd2;
$color-red-3 : #ef9a9a;
$color-red-4 : #e57373;
$color-red-5 : #ef5350;
$color-red   : #f44336;
$color-red-7 : #e53935;
$color-red-8 : #d32f2f;
$color-red-9 : #c62828;
$color-red-10: #b71c1c;
$color-red-11: #ff8a80;
$color-red-12: #ff5252;
$color-red-13: #ff1744;
$color-red-14: #d50000;

// 粉色系
$color-pink-1 : #fce4ec;
$color-pink-2 : #f8bbd0;
$color-pink-3 : #f48fb1;
$color-pink-4 : #f06292;
$color-pink-5 : #ec407a;
$color-pink   : #e91e63;
$color-pink-7 : #d81b60;
$color-pink-8 : #c2185b;
$color-pink-9 : #ad1457;
$color-pink-10: #880e4f;
$color-pink-11: #ff80ab;
$color-pink-12: #ff4081;
$color-pink-13: #f50057;
$color-pink-14: #c51162;

// 紫色系
$color-purple-1 : #f3e5f5;
$color-purple-2 : #e1bee7;
$color-purple-3 : #ce93d8;
$color-purple-4 : #ba68c8;
$color-purple-5 : #ab47bc;
$color-purple   : #9c27b0;
$color-purple-7 : #8e24aa;
$color-purple-8 : #7b1fa2;
$color-purple-9 : #6a1b9a;
$color-purple-10: #4a148c;
$color-purple-11: #ea80fc;
$color-purple-12: #e040fb;
$color-purple-13: #d500f9;
$color-purple-14: #aa00ff;

// 暗紫色系
$color-deeppurple-1 : #ede7f6;
$color-deeppurple-2 : #d1c4e9;
$color-deeppurple-3 : #b39ddb;
$color-deeppurple-4 : #9575cd;
$color-deeppurple-5 : #7e57c2;
$color-deeppurple   : #673ab7;
$color-deeppurple-7 : #5e35b1;
$color-deeppurple-8 : #512da8;
$color-deeppurple-9 : #4527a0;
$color-deeppurple-10: #311b92;
$color-deeppurple-11: #b388ff;
$color-deeppurple-12: #7c4dff;
$color-deeppurple-13: #651fff;
$color-deeppurple-14: #6200ea;

// 靛蓝色系
$color-indigo-1 : #e8eaf6;
$color-indigo-2 : #c5cae9;
$color-indigo-3 : #9fa8da;
$color-indigo-4 : #7986cb;
$color-indigo-5 : #5c6bc0;
$color-indigo   : #3f51b5;
$color-indigo-7 : #3949ab;
$color-indigo-8 : #303f9f;
$color-indigo-9 : #283593;
$color-indigo-10: #1a237e;
$color-indigo-11: #8c9eff;
$color-indigo-12: #536dfe;
$color-indigo-13: #3d5afe;
$color-indigo-14: #304ffe;

// 蓝色系
$color-blue-1 : #e3f2fd;
$color-blue-2 : #bbdefb;
$color-blue-3 : #90caf9;
$color-blue-4 : #64b5f6;
$color-blue-5 : #42a5f5;
$color-blue   : #2196f3;
$color-blue-7 : #1e88e5;
$color-blue-8 : #1976d2;
$color-blue-9 : #1565c0;
$color-blue-10: #0d47a1;
$color-blue-11: #82b1ff;
$color-blue-12: #448aff;
$color-blue-13: #2979ff;
$color-blue-14: #2962ff;

// 亮蓝色系
$color-lightblue-1 : #e1f5fe;
$color-lightblue-2 : #b3e5fc;
$color-lightblue-3 : #81d4fa;
$color-lightblue-4 : #4fc3f7;
$color-lightblue-5 : #29b6f6;
$color-lightblue   : #03a9f4;
$color-lightblue-7 : #039be5;
$color-lightblue-8 : #0288d1;
$color-lightblue-9 : #0277bd;
$color-lightblue-10: #01579b;
$color-lightblue-11: #80d8ff;
$color-lightblue-12: #40c4ff;
$color-lightblue-13: #00b0ff;
$color-lightblue-14: #0091ea;

// 青色系
$color-cyan-1 : #e0f7fa;
$color-cyan-2 : #b2ebf2;
$color-cyan-3 : #80deea;
$color-cyan-4 : #4dd0e1;
$color-cyan-5 : #26c6da;
$color-cyan   : #00bcd4;
$color-cyan-7 : #00acc1;
$color-cyan-8 : #0097a7;
$color-cyan-9 : #00838f;
$color-cyan-10: #006064;
$color-cyan-11: #84ffff;
$color-cyan-12: #18ffff;
$color-cyan-13: #00e5ff;
$color-cyan-14: #00b8d4;

// 蓝绿色系
$color-teal-1 : #e0f2f1;
$color-teal-2 : #b2dfdb;
$color-teal-3 : #80cbc4;
$color-teal-4 : #4db6ac;
$color-teal-5 : #26a69a;
$color-teal   : #009688;
$color-teal-7 : #00897b;
$color-teal-8 : #00796b;
$color-teal-9 : #00695c;
$color-teal-10: #004d40;
$color-teal-11: #a7ffeb;
$color-teal-12: #64ffda;
$color-teal-13: #1de9b6;
$color-teal-14: #00bfa5;

// 绿色系
$color-green-1 : #e8f5e9;
$color-green-2 : #c8e6c9;
$color-green-3 : #a5d6a7;
$color-green-4 : #81c784;
$color-green-5 : #66bb6a;
$color-green   : #4caf50;
$color-green-7 : #43a047;
$color-green-8 : #388e3c;
$color-green-9 : #2e7d32;
$color-green-10: #1b5e20;
$color-green-11: #b9f6ca;
$color-green-12: #69f0ae;
$color-green-13: #00e676;
$color-green-14: #00c853;

// 亮绿色系
$color-lightgreen-1 : #f1f8e9;
$color-lightgreen-2 : #dcedc8;
$color-lightgreen-3 : #c5e1a5;
$color-lightgreen-4 : #aed581;
$color-lightgreen-5 : #9ccc65;
$color-lightgreen   : #8bc34a;
$color-lightgreen-7 : #7cb342;
$color-lightgreen-8 : #689f38;
$color-lightgreen-9 : #558b2f;
$color-lightgreen-10: #33691e;
$color-lightgreen-11: #ccff90;
$color-lightgreen-12: #b2ff59;
$color-lightgreen-13: #76ff03;
$color-lightgreen-14: #64dd17;

// 黄绿色系
$color-lime-1 : #f9fbe7;
$color-lime-2 : #f0f4c3;
$color-lime-3 : #e6ee9c;
$color-lime-4 : #dce775;
$color-lime-5 : #d4e157;
$color-lime   : #cddc39;
$color-lime-7 : #c0ca33;
$color-lime-8 : #afb42b;
$color-lime-9 : #9e9d24;
$color-lime-10: #827717;
$color-lime-11: #f4ff81;
$color-lime-12: #eeff41;
$color-lime-13: #c6ff00;
$color-lime-14: #aeea00;

// 黄色系
$color-yellow-1 : #fffde7;
$color-yellow-2 : #fff9c4;
$color-yellow-3 : #fff59d;
$color-yellow-4 : #fff176;
$color-yellow-5 : #ffee58;
$color-yellow   : #ffeb3b;
$color-yellow-7 : #fdd835;
$color-yellow-8 : #fbc02d;
$color-yellow-9 : #f9a825;
$color-yellow-10: #f57f17;
$color-yellow-11: #ffff8d;
$color-yellow-12: #ffff00;
$color-yellow-13: #ffea00;
$color-yellow-14: #ffd600;

// 琥珀色系
$color-amber-1 : #fff8e1;
$color-amber-2 : #ffecb3;
$color-amber-3 : #ffe082;
$color-amber-4 : #ffd54f;
$color-amber-5 : #ffca28;
$color-amber   : #ffc107;
$color-amber-7 : #ffb300;
$color-amber-8 : #ffa000;
$color-amber-9 : #ff8f00;
$color-amber-10: #ff6f00;
$color-amber-11: #ffe57f;
$color-amber-12: #ffd740;
$color-amber-13: #ffc400;
$color-amber-14: #ffab00;

// 橙色系
$color-orange-1 : #fff3e0;
$color-orange-2 : #ffe0b2;
$color-orange-3 : #ffcc80;
$color-orange-4 : #ffb74d;
$color-orange-5 : #ffa726;
$color-orange   : #ff9800;
$color-orange-7 : #fb8c00;
$color-orange-8 : #f57c00;
$color-orange-9 : #ef6c00;
$color-orange-10: #e65100;
$color-orange-11: #ffd180;
$color-orange-12: #ffab40;
$color-orange-13: #ff9100;
$color-orange-14: #ff6d00;

// 深橙色系
$color-deeporange-1 : #fbe9e7;
$color-deeporange-2 : #ffccbc;
$color-deeporange-3 : #ffab91;
$color-deeporange-4 : #ff8a65;
$color-deeporange-5 : #ff7043;
$color-deeporange   : #ff5722;
$color-deeporange-7 : #f4511e;
$color-deeporange-8 : #e64a19;
$color-deeporange-9 : #d84315;
$color-deeporange-10: #bf360c;
$color-deeporange-11: #ff9e80;
$color-deeporange-12: #ff6e40;
$color-deeporange-13: #ff3d00;
$color-deeporange-14: #dd2c00;

// 棕色系
$color-brown-1 : #efebe9;
$color-brown-2 : #d7ccc8;
$color-brown-3 : #bcaaa4;
$color-brown-4 : #a1887f;
$color-brown-5 : #8d6e63;
$color-brown   : #795548;
$color-brown-7 : #6d4c41;
$color-brown-8 : #5d4037;
$color-brown-9 : #4e342e;
$color-brown-10: #3e2723;

// 灰色系
$color-grey-1 : #fafafa;
$color-grey-2 : #f5f5f5;
$color-grey-3 : #eeeeee;
$color-grey-4 : #e0e0e0;
$color-grey-5 : #bdbdbd;
$color-grey   : #9e9e9e;
$color-grey-7 : #757575;
$color-grey-8 : #616161;
$color-grey-9 : #424242;
$color-grey-10: #212121;

// 蓝灰色系
$color-bluegrey-1 : #eceff1;
$color-bluegrey-2 : #cfd8dc;
$color-bluegrey-3 : #b0bec5;
$color-bluegrey-4 : #90a4ae;
$color-bluegrey-5 : #78909c;
$color-bluegrey   : #607d8b;
$color-bluegrey-7 : #546e7a;
$color-bluegrey-8 : #455a64;
$color-bluegrey-9 : #37474f;
$color-bluegrey-10: #263238;

// 黑白色
$color-white: #ffffff;
$color-black: #000000;
