@import './variables.scss';

@import url($font-main-url);

* {
  font-family: $font-main-name, sans-serif;
}

.page-tabs {
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 900;
}

.page-content {
  padding: 40px;
}

.page-content-with-tabs {
  margin-top: 50px;
  padding: 40px;
}